<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<h1 style="color:black">Daily Coronavirus Numbers</h1>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmakemegenius.com%2Fimages%2Fcoronavirus.png&f=1&nofb=1" alt="covid19">
<p><h2>Coronavirus Cases: 2,250,790</h2>
<h2>Deaths: 154,266</h2>
<h2>Recovered: 571,147<h2></p>
<p><h3><u>Active cases</u></h3>
<h4>1,525,377
Currently Infected Patients</h4>
<h4>1,468,241 (96%)
in Mild Condition</h4>
<h4>57,136 (4%)
Serious or Critical</h4></p>
<p><h3><u>Closed cases</u></h3>
<h4>725,413
Cases which had an outcome:</h4>
<h4>571,147 (79%)
Recovered / Discharged</h4>
<h4>154,266 (21%)
Deaths</h4></p>
</body>
</html>
